<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Weather</title>
  </head>

  <body>
    <div class="container card level-3">
      <div class="div-heading">Weather.io</div>
      <div class="searchBox">
        <form action="/weather" method="post">

          <input type="text" name="location" placeholder="Search" />
          <button type="submit" href="#">SEARCH
          </button>
        </form>

        <div
        class="details">
        <p>Time :{{time}}</p>
        <p>temp:{{temp}}
<p>humidity:{{humidity}}</p>
 <p>dew:{{dew}}</p>
 <p>windspeed:{{windspeed}}</p>
        <p>sunrise: {{sunrise}}</p>
        <p>sunset: {{sunset}}</p>
        </div>
      </div>
    </div>

  </body>

  <script src="./../../public/js/script.js">
  </script>
</html>
